@model BibleVerse.Models.BibleModel


<h2>
    @Html.DisplayFor(m => m.Testament) Testament
</h2>
<div>
    @Html.DisplayFor(m => m.Book) @Html.DisplayFor(m => m.Chapter):@Html.DisplayFor(m => m.Verse)<br>
</div>
<div>
    @Html.DisplayFor(m => m.Text)
</div>



