@{
    ViewBag.Title = "Home Page";
}

<img src="~/Images/Bible.jpg" alt="Image">
<div class = "links">
    @Html.ActionLink("Add Bible Verse to Database", "BibleForm")<br>
    @Html.ActionLink("Retrieve Bible Verse from Database", "FindVerse")
    
</div>