<link href="~/Content/GamePage.css" rel="stylesheet" type="text/css" />

<div class="footer">

    <h4>Copyright &copy;CLC - CST-247 Benchmark</h4>
    <h5>Developed Vinson Martin</h5>
    @Html.ActionLink("Back To Home", "Index")
</div>